@use "styles/abstracts" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  flex: 1;
  // Offset for fixed navbar height
  padding-top: 64px;

  @include respond-to("lg") {
    padding-top: 72px;
  }
}
